@font-face {
    src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
    src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
    src: url("./fonts/Satisfy-Regular.ttf");
}

* {
    default-primary-color: #202024;
    secondary-color: #00AFB5;
}

.root {
}

.nav {
    -fx-background-color: default-primary-color;
}

.underline {
    -fx-border-radius: 150;
    -fx-fill: secondary-color;
}

.button {
    -fx-background-color: #F6AE2D;
    -fx-alignment: center;
    -fx-background-radius: 8;
    -fx-text-fill: #F1F7ED;
    -fx-pref-width: 100;
    -fx-pref-height: 30;
}

.button .text {
    -fx-effect: dropshadow(one-pass-box, rgba(12, 8, 11, 0.1), 1, 0, 1, 1);
    -fx-font-family: Roboto, bold;
}

.secBtn {
    -fx-background-color: secondary-color;
}

.search-field {
    -fx-background-radius: 20;
    -fx-background-color: #F1F7ED;
    -fx-alignment: center;
    -fx-pref-height: 25;
    -fx-pref-width: 200;
}

.text {
    -fx-font-family: Roboto bold;
    -fx-font-size: 18px;
    -fx-fill: #F1F7ED;
}

.currentUsername {
    -fx-font-family: Roboto bold;
    -fx-font-size: 18px;
    -fx-fill: #F1F7ED;
}



