@font-face {
    src: url("./fonts/Roboto-Regular.ttf");
    src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
    src: url("./fonts/Satisfy-Regular.ttf");
}

* {
    lightest-color: #F1F7ED;
    darkest-color: #1B1A20;
    accent-color: #F6AE2D;
    second-accent-color: #00AFB5;
}

.root {
    -fx-background-color: darkest-color;
    -fx-background-image: url("images/bg-wave.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: bottom;
}

.logo-title {
    -fx-font: 42px "Satisfy";
    -fx-alignment: center;
    -fx-fill: accent-color;
}

.underline {
    -fx-border-radius: 150;
    -fx-fill: second-accent-color;
}

.button {
    -fx-background-color: accent-color;
    -fx-alignment: center;
    -fx-background-radius: 8;
    -fx-font: 13 Roboto, bold;
    -fx-text-fill: lightest-color;
    -fx-pref-width: 100;
    -fx-pref-height: 30;
}

.button .text {
    -fx-effect: dropshadow(one-pass-box, rgba(12, 8, 11, 0.1), 1, 0, 1, 1);
    -fx-font-weight: bolder;
    -fx-font-family: Roboto, bold;
}

.secBtn {
    -fx-background-color: second-accent-color;
}

.text-field {
    -fx-background-radius: 20;
    -fx-background-color: lightest-color;
    -fx-alignment: center;
    -fx-pref-height: 25;
    -fx-pref-width: 200;
}

.password-field {
    -fx-background-radius: 20;
    -fx-background-color: lightest-color;
    -fx-alignment: center;
    -fx-pref-height: 25;
    -fx-pref-width: 200;
}

.msg {
    -fx-fill: lightest-color;
}
