@font-face {
    src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
    src: url("./fonts/Roboto-Bold.ttf");
}

* {
    lightest-color: #ffffff;
    dark-accent-color: #211E25;
    lighterdark-color: #ada7bc;
    darkest-color: #1B1A20;
    accent-color: #F6AE2D;
    second-accent-color: #00AFB5;
}

.root {
    -fx-background-color: dark-accent-color;
    -fx-background-radius: 20;
}

.title {
    -fx-font-family: Roboto bold;
    -fx-font-size: 16px;
    -fx-fill: lightest-color;
}

.text {
    -fx-fill: lightest-color;
    -fx-font-size: 14px;
}

.label .text {
    -fx-fill: lighterdark-color;
}

.title-h1 {
    -fx-font: 36px Roboto, bold;
    -fx-fill: lightest-color;
}

.overview {
    -fx-font: 14px Roboto;
    -fx-fill: lighterdark-color;
}