@font-face {
    src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
    src: url("./fonts/Roboto-Bold.ttf");
}

* {
    lightest-color: #ffffff;
    lighterdark-color: #ada7bc;
    darkest-color: #1B1A20;
    accent-color: #F6AE2D;
    second-accent-color: #00AFB5;
    dark-accent-color: #211E25;
}

.root {
    -fx-font-family: Roboto;
    -fx-background-image: none;
}

.title {
    -fx-font: 36px Roboto, bold;
    -fx-fill: lightest-color;

}

.overview {
    -fx-font: 14px Roboto;
    -fx-fill: lighterdark-color;
}

.separator {
    -fx-fill: second-accent-color;
    -fx-background-color: second-accent-color;
}

.text {
    -fx-fill: lightest-color;
    -fx-font-size: 16px;
}

.vote {
    -fx-alignment: center;
}

.label .text {
    -fx-fill: lighterdark-color;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.search-error {
    -fx-fill: lighterdark-color;
    -fx-font-size: 36px;
    -fx-font-family: Roboto bold;
}

.scroll {
    -fx-alignment: center;
}

.secBtn .text {
    -fx-effect: dropshadow(one-pass-box, rgba(12, 8, 11, 0.1), 1, 0, 1, 1);
    -fx-font-weight: bolder;
    -fx-font-family: Roboto, bold;
}

.secBtn {
    -fx-background-color: second-accent-color;
    -fx-alignment: center;
    -fx-background-radius: 8;
    -fx-font: 13 Roboto, bold;
    -fx-text-fill: lightest-color;
    -fx-pref-width: 130;
    -fx-pref-height: 30;
}

.field {
    -fx-background-color: dark-accent-color;
    -fx-text-fill: lightest-color;
}

.text-area .content {
    -fx-background-color: dark-accent-color;
    -fx-text-fill: lightest-color;
}

.field .text {
    -fx-wrap-text: 230px;
}